<div class="tab-pane fade" id="resultado" role="tabpanel" aria-labelledby="profile-tab">
    <div class=" shadow  mt-2 form-group dynamic-element list-group list-group-item  flex-col align-items-start rounded-lg "
        role="tabpanel" aria-labelledby="profile-tab">
        <div class="alert alert-warning" role="alert">
            Atenção com esta funcionalidade, confira todos os dados do paciente
        </div>
        <form method="POST" action="/cadastrar-laudo/<%= infoPaciente.id %>/resultado-coleta-swab">
        <p>Preencha com o resultado da Coleta Swab <span class="text-uppercase" style="color:blue"><%= infoPaciente.paciente.dataValues.nome %></span> RG <%=infoPaciente.paciente.dataValues.rg%></p>
        <label><strong>Data da Coleta SWAB</strong></label>
        <input type="datetime-local" name="dataResultadoSwab" class="form-control col-4" id="dataFato" placeholder="Nome do operador">
        <div class="col-sm-4 col-lg-4 col-md-6 float-left">
            <input type="hidden" name='paciente' value=<%= infoPaciente.paciente.dataValues.id%> >
            <label><strong>Obs</strong></label>
            <textarea type="text" name="obsResultadoSwab" rows="2" class="form-control"   placeholder="Preencha com alguma observação"></textarea>
              <sub class="form-text text-muted"></s>
            
        </div>
        
       

            <div class="col-sm-4 col-lg-4 col-md-6 float-left">
                <label><strong> Resultado do Exame:</strong></label>

                <select class="form-control" name="selectResultadoSwab" id="exampleFormControlSelect1">
                    <% if(typeof(resultadosExames) != undefined ){ %>
                    <% resultadosExames.forEach( resultado=> { %>
                    <option value=<%=resultado.id%> class="list-group-item"><%=resultado.nome%></option>
                    <% }) %>
                    <%}%>
            </select>
    </div>
        <div class="row d-flex justify-content-end mb-5">
            <div class="input-group-btn col-sm-4 col-lg-6 d-flex justify-content-end">
                <button  type="submit" class="btn btn-primary"  >
Salvar                </button> 
            </div>
        </div>

    </form>
          


        


    </div>
    </div>