<%- include('./partials/header') %>
<main class="container mt-5">
    <h1>Ficha do Paciente</h1>
   
    <%- include('./partials/ficha-paciente/info-geral') %>


    <%- include('./partials/ficha-paciente/parentes') %>


    <%- include('./partials/ficha-paciente/internacao') %>

  </div>
</main>
<%- include('./partials/footer') %>