<%- include('./partials/header') %>
<main class="container my-5 py-5 text-center">
    <h1>Sucesso</h1>
    <p>Usuario cadastrado com sucesso</p>
   
      <strong>Nome:</strong> <p><%=nome%></p>  
      <strong>CPF:</strong><p><%=cpf%></p>  
      <strong>RG:</strong><p><%=rg%></p>  
      <strong>E-mail:</strong><p><%=email%></p>











    

</main>
<%- include('./partials/footer') %>